<div class="row" id="main">
  <div class="col-xs-12">
    <div class="row">
      <div class="col-xs-12">
        <p class="text-center clearfix"><a ng-click="createBlankList(); $event.preventDefault();" href="#">Add A List</a></p>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12">
        <div id="list-container">
          <list ng-repeat="list in lists" list="list"
                delete="deleteList"
                update="updateList"
                create-card="createBlankCard">
          </list>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Card Modal -->
<card-modal update="updateCard"></card-modal>
