
<h6 class="{{ property }}" ng-hide="editing" ng-click="toggleEdit(value)">{{ uppercase ? (item[property] | uppercase) : item[property] }}</h6>
<div class="margin-top clearfix">
  <form class="form form-inline" ng-show="editing" name="formProperty"
        ng-submit="submitHandler({ valid: formProperty.$valid, data: formData.property, property: property, item: item })">
    <input type="{{ inputType }}" ng-model="formData.property" class="form-control straight-r-edge pull-left">
    <input type="submit" name="submit" value="✓" class="btn btn-success straight-l-edge pull-left">
  </form>
</div>
<a ng-show="editing" ng-click="toggleEdit(); $event.preventDefault();" href="#">Cancel</a>
