
  <div class="panel panel-default list">
    <div class="panel-body">
      <div id="list-name" class="pointable">
        <editable item="list" uppercase="{{ true }}"
                  property="{{ 'name' }}" input-type="{{ 'text' }}"
                  process="updateCB">
        </editable>
      </div>
     <a ng-click="deleteCB({list: list}); $event.preventDefault();" class="pointable">Delete List</a>
     <hr>
     <p><i>{{ list.description }}</i></p>
     <hr>
     <ol>
       <li ng-repeat="card in list.cards">
         <div class="card">
           <p><a data-toggle="modal" data-target="#cardModal"
                 data-card="{{ card }}" class="pointable">{{ card.title }}</a></p>
           <p>{{ card.description }}</p>
         </div>
       </li>
     </ol>
    </div>
  </div>
