<div class="col-sm-4">
  <div class="panel panel-default list">
    <div class="panel-body">
     <h5>{{ list.name | uppercase }}</h5>
     <a ng-click="delete({list: list}); $event.preventDefault();" class="pointable">Delete List</a>
     <hr>
     <p><i>{{ list.description }}</i></p>
     <hr>
     <ol>
       <li ng-repeat="card in list.cards">
         <div class="card">
           <p><a data-toggle="modal" data-target="#cardModal"
                 data-card="{{ card }}" class="pointable">{{ card.title }}</a></p>
           <p>{{ card.description }}</p>
         </div>
       </li>
     </ol>
    </div>
  </div>
</div>
