
  <div class="panel panel-default list">
    <div class="panel-body">
      <div id="list-name" class="pointable">
        <editable item="list" uppercase="{{ true }}"
          property="{{ 'name' }}" input-type="{{ 'text' }}"
          process="updateCB">
        </editable>
      </div>
     <a ng-click="deleteCB({list: list}); $event.preventDefault();" class="pointable">Delete List</a>
     <hr>
     <p><i>
       <editable item="list" uppercase="{{ false }}"
                 property="{{ 'description' }}" input-type="{{ 'text' }}"
                 process="updateCB">
       </editable>
     </i></p>
     <hr>
     <ol>
       <li ng-repeat="card in list.cards">
         <card card="card"
               delete="deleteCard"
               update="updateCard"
               create-activity="createActivity"
               ></card>
       </li>
     </ol>
     <p class="text-center clearfix"><a ng-click="createCard({list: list}); $event.preventDefault();" href="#">Add A Card</a></p>
    </div>
  </div>
