
@import "bootstrap-sprockets";
@import "bootstrap";

/*
  > layout
    - body
  > modules
    - #flash-messages
*/

// fix vertical alignment due to flash position
body {
  padding-top: 70px;
}

/* modules */
#flash-messages {
  position: fixed;
  top: 65px;
  left: 50px;
}
