
@import "bootstrap-sprockets";
@import "bootstrap";

/*
  > layout
    - body
  > modules
    - #flash-messages
*/

// fix vertical alignment due to flash position
body {
  color: teal;
  padding-top: 70px;
}

ol {
  list-style-type: none;
}

.flex-vert-center {
  display: flex;
  align-items: center;
}

.flex-space-out {
  display: flex;
  justify-content: space-between;
}

.margin-top {
  margin-top: 20px;
}

.pointable {
  cursor: pointer;
}

.straight-l-edge {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.straight-r-edge {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.name {
  text-transform: uppercase;
  font-size: 26px;
  line-height: 1.5;
}

/* modules */
#flash-messages {
  position: fixed;
  top: 65px;
  left: 50px;
}

// Clickable Board Name
#board-name {
  height: 70px;
}

// List Panels
#list-container {
  margin-top: 25px;
  overflow-x: scroll;
  display: flex;
}

.list {
  display: inline-block;
  flex-shrink: 0;
  margin-right: 15px;
  padding: 0;
  width: 400px;
}

.card {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  background-color: #eee;
}
