
@import "bootstrap-sprockets";
@import "bootstrap";

/*
  > layout
    - body
  > modules
    - #flash-messages
*/

// fix vertical alignment due to flash position
body {
  padding-top: 70px;
}

.flex-vert-center {
  display: flex;
  align-items: center;
}

.flex-space-out {
  display: flex;
  justify-content: space-between;
}

/* modules */
#flash-messages {
  position: fixed;
  top: 65px;
  left: 50px;
}
